Seilbahn/Debug
Seilbahn/Generated_Code
Seilbahn/.Seilbahn.g_c
Seilbahn/.Seilbahn.g_x
Seilbahn/Documentation/Teleskopv3_SIGNALS.txt
Seilbahn/ProjectInfo.xml
Seilbahn/Documentation

Untracked

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
